footer
    .container-fluid
        .row
            .col-lg-3.col-lg-offset-1.f_left
                .tel
                    span С 6 до 21
                        span.dot Бесплатно по РФ
                    a(href='tel:88005554374') 8 800 511 31 51
                p г. Челябинск, ул. Краснознаменная, 28
                a(href='mail:info@avtopteplo.org') info@avtopteplo.org
                p Оптовикам: 8 (351) 216-31-61
                .soc
                    p Аккаунты в социальных сетях
                    a(href='https://vk.com/tdavtoteplo')
                        img(src='img/vk.png', alt='vk')
                    a(href='https://twitter.com/avtoteplo174')
                        img(src='img/twttr.png', alt='twitter')
                    a(href='https://www.youtube.com/user/avtoteplo74')
                        img(src='img/y.png', alt='youtube')
                    a(href='https://telegram.me/avtoteplo_org')
                        img(src='img/tlgrm.png', alt='telegram')
            .col-lg-3.col-lg-offset-2
                ul.f_nav
                    li
                        a(href='#') Главная
                    li.active
                        a(href='#') Продукция
                    li
                        a(href='#') Компания
                    li
                        a(href='#') Партнёрам
                    li
                        a(href='#') Публикация в СМИ и исследования
            .col-lg-3.col-lg-offset-0
                ul.f_nav
                    li
                        a(href='#') Магазины
                    li
                        a(href='#') Доставка и оплата
                    li
                        a(href='#') Гарантия и возврат
                    li
                        a(href='#') Контакты
        .row
            .col-lg-10.col-lg-offset-1.copyright
                p © 2017, Автоодеяло «Автотепло» - официальный сайт производителя утеплителей для двигателей автомобилей, Челябинск.